@import "../../scss/game";

.game-container {
  width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(
      $board-gradient-bg-color-start,
      $board-gradient-bg-color-end
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}
