$body-gradient-bg-color-start: rgba(241, 210, 70, 0.98) 0%;
$body-gradient-bg-color-end: rgba(250, 176, 103, 0.87) 100%;

$board-gradient-bg-color-start: #383624;
$board-gradient-bg-color-end: #282617;

$container-bg-color: rgba(40, 38, 23, 0.95);
$text-color: #fcd256;
$text-color-hover: #3f3b00;
$block-color: #0429c2;
$btn-color-hover: #fcd256;
$btn-color-disabled: #b4b3b3;

$game-font-family: 'Caprasimo', cursive;
