@import '../../scss/game';

.result-container {
  display: flex;
  justify-content: center;
  row-gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  color: $text-color;
  font-family: $game-font-family;
  font-size: 20px;
  margin-bottom: 20px;

  .result-item {
    width: 190px;

    &:nth-child(1) {
      text-align: start;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(1) {
      text-align: end;
    }

    .score {
      font-size: 50px;
      margin: 0 10px;
    }
  }
}
