<div class="game-speed-container">
  <div class="game-speed-content">
    <div>Game speed:</div>
    <span *ngIf="!isEditing">{{gameSpeed}}ms.</span>
    <form *ngIf="isEditing" [formGroup]="speedForm" class="game-speed-form">
      <input
        class="game-speed-content game-speed-input"
        type="number"
        (input)="setNewSpeed($event)"
        formControlName="speed"
        [ngClass]="{'has-error': (speed.touched || speed.dirty) && speed.errors}"
      />
    </form>
    <span
      class="material-symbols-outlined game-speed-icon"
      (click)="toggleIsEditing()"
      [ngClass]="{'disable': (speed.touched || speed.dirty) && speed.errors}"
    >{{!isEditing ? 'edit' : 'done'}}</span>
  </div>

</div>
