@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import 'app/scss/game';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Caprasimo', cursive;
  background: radial-gradient(
      circle at top,
      $body-gradient-bg-color-start,
      $body-gradient-bg-color-end
  );
}
